body {
    background-color: #EDDAD4;
}

.book2 {
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.shelf {
    width: 100%;
    background-color: #E7CDC5;
    height: 5px;
    border: none;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.09fr 1fr 0.2fr;
    grid-template-areas:
        "circle circle circle circle"
        "sen sen sen sen"
        "form form form form";
}

.sentences-grid {
    grid-area: sen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
        ". box box giveup"
        ". box box ."
        ". box box help1"
        ". box box help2"
        ". box box ."
}

.give_up {
    border: 0px;
    background: transparent;
    grid-area: giveup;
    justify-self: start;
    align-self: center;
    margin-top: 3px;
    margin-left: -90px;
    transition: margin-left 700ms;
    z-index: 0;
    /*margin-bottom: auto;*/
}

.give_up:hover {
    margin-left: -20px;
    transition: margin-left 700ms;
    cursor: pointer;
}

.help1 {
    border: 0;
    background: transparent;
    grid-area: help1;
    justify-self: start;
    align-self: center;
    margin-top: 3px;
    margin-left: -155.11px;
    transition: margin-left 700ms;
    z-index: 0;
}

.help1:hover {
    margin-left: -85.11px;
    transition: margin-left 700ms;
    cursor: pointer;
}

#help1 {
    margin-left: -151.5px;
}

#help2 {
    margin-left: -131.5px;
}

.help2 {
    border: 0;
    background: transparent;
    grid-area: help2 ;
    justify-self: start;
    align-self: center;
    margin-top: 3px;
    margin-left: -155.11px;
    transition: margin-left 700ms;
    z-index: 0;
}

.help2:hover {
    margin-left: -85.11px;
    transition: margin-left 700ms;
    cursor: pointer;
}

.sentences-box {
    grid-area: box;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas: "quote_a st st quote_b";
    overflow: hidden;
    background-color: #FFF;
    min-height: 18em;
    /*width: 40%;*/
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
    border-radius: 14px;
    /*[>filter: drop-shadow(1px 1px 4px black);<]*/
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    user-select: none;
    z-index: 1;

}

.sentences {
    grid-area: st;
    font-size: 32px;
    margin-top: 50px;
    /*white-space: nowrap;*/
}

blur {
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

blur:hover {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    cursor: pointer;
}

.quote1 {
    grid-area: quote_a;
    margin-top: 10px;
    margin-left: 10px;
}

.quote2 {
    grid-area: quote_b;
    margin-bottom: 10px;
    margin-right: 10px;
    justify-self: end;
    align-self: end;
}

/*.user-form {*/
/*display: grid;*/
/*grid-template-columns: 30% 40% 30%;*/
/*grid-column-start: 2;*/
/*justify-content: ;*/
/*align-items: start;    */
/*}*/
.user-form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". input input check"
}

.user-input,
user-input:focus {
    width: 100%;
    height: 2em;
    grid-area: input;
    border-radius: 14px;
    border: 0px;
    outline: none;
    align-self: start;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    align-self: center;
    font-size: 24px;
    padding-left: 20px;
}

.user-input:focus::placeholder,
.user-input::placeholder {
    /*padding-left: 10px;*/
    opacity: .3;
}

.check_book {
    border: 0px;
    background: transparent;
    grid-area: check;
    justify-self: start;
    align-self: center;
    margin-top: 3px;
    margin-left: -90px;
    transition: margin-left 700ms;
    /*margin-bottom: auto;*/
}

.check_book:hover {
    margin-left: -20px;
    transition: margin-left 700ms;
    cursor: pointer;
}


@keyframes shake {

    10%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(4px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(8px, 0, 0);
    }
}

.apply-shake {
    animation: shake 0.42s cubic-bezier(.36, .07, .19, .97) both;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
}

.cover {
    display: block;
    margin: auto;
    width: 33%;
    /*height: auto;*/
}

.next {
    visibility: hidden;
    grid-area: check;
    border: none;
    background: transparent;
    justify-self: start;
    align-self: center;
    margin-top: 3px;
    margin-left: -90px;
    transition: margin-left 700ms;
}

.next:hover {
    margin-left: -20px;
    transition: margin-left 700ms;
    cursor: pointer;
}

.button_image {
    vertical-align: middle;
}

.button_text {
    line-height: 14px;
    margin-left: -150px;
    /*right: 65%;*/
    /*transform: translateX(-50%);*/
    font-size: 15px;
    color: white;
}

.d_button_text {
    margin-left: -130px;
}

.g_button_text {
    margin-left: -155.6px;
}

/* From uiverse.io */
.c-button {
    background-color: #857070;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*position: relative;*/
    z-index: 2;
    position: absolute;
    left: 43.8%;
    bottom: 10%;
}

.c-button--gooey {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid #857070;
    border-radius: 0;
    /*position: relative;*/
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #4A464E;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}


svg.radial-progress {
    background: linear-gradient(90deg, rgba(255,180,162,0) 50%, rgba(255,255,255,1) 50%);
    border-radius: 50%; 
    height: auto;
    max-width: 90px;
    /*padding: 1em;*/
    transform: rotate(-90deg);
    box-shadow: 3px 0px 4px -3.5px rgba(0,0,0,0.25);
    /*box-shadow: 1px 1px 4px rgba(0,0,0,0.25);*/
    width: 100%;
    padding: 10px;
    grid-area: points;
    justify-self: center;
    align-self: center;
    margin-bottom: -55px;
    z-index: 3;

}

svg.radial-progress circle {
    grid-area: points;
    fill: rgba(0, 0, 0, 0);
    stroke: #433A3B;
    stroke-dashoffset: 600;
    stroke-width: 10;
    /*stroke-radius: 50%;*/
    stroke-linecap: round;
    justify-self: center;
    align-self: center;
    /*margin-bottom: -50px;*/
    z-index: 3;
}

svg.radial-progress circle.incomplete {
    grid-area: points;
    opacity: 0;
    justify-self: center;
    align-self: center;

    /*margin-bottom: -50px;*/
    z-index: 3;

}

svg.radial-progress circle.complete {
    grid-area: points;
    stroke-dasharray: 600;
    justify-self: center;
    align-self: center;
    padding: 0;
    /*margin-bottom: -50px;*/
    z-index: 3;


}

svg.radial-progress text {
    grid-area: points;
    fill: #433A3B;
    font-size: 27px;
    text-anchor: middle;
    justify-self: center;
    align-self: center;
    margin-bottom: -50px;
    z-index: 3;

}

.circle-grid-1 {
    grid-area: cir;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas: ". points points .";
}

.circle-grid {
    padding: 0;
    grid-area: circle;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". cir cir  ."
}
