<div class="relative pb-36 mt-10">
	<img class="absolute -top-12 mt-12 mb-0 ml-auto mr-auto inset-0 object-cover z-30" src="/static/svg/book-{{counter}}.svg" alt="Book2">
	<hr class="absolute top-28 w-full border-0 h-1.5 bg-dark-pink -z-10"/>
</div>

	 <div> <a class="hover:cursor-pointer hover:text-white text-xl font-medium pt-4 pl-4 self-start align-bottom inline-block"  hx-get="/api/change-lang?lang=pl"> PL </a> <a class="hover:cursor-pointer hover:text-white text-xl font-medium pt-4 pl-4 self-start align-bottom inline-block" hx-get="/api/change-lang?lang=en"> EN </a> </div>      

	<!--main grid-->
        <div class="w-full grid grid-cols-4 grid-rows-6 gap-4 pt-8 overflow-hidden">

	   <!--progress bar-->
	   <div class="col-span-2 col-start-2 row-start-1 flex items-center justify-center -m-6 overflow-hidden rounded-full -mb-24" x-data="{ circumference: 40 * 2 * Math.PI, percent: {{progress}} }">
              <svg class="w-32 h-32 transform translate-x-1 translate-y-1 -rotate-90 z-20" x-cloak aria-hidden="true">
                <circle
                  class="text-white"
                  stroke-width="10"
                  stroke="currentColor"
                  fill="white"
                  r="50"
                  cx="60"
                  cy="60"
                  />
                <circle
                  class="text-brown"
                  stroke-width="10"
                  :stroke-dasharray="circumference"
                  :stroke-dashoffset="circumference - percent / 100 * circumference"
                  stroke-linecap="round"
                  stroke="currentColor"
                  fill="white"
                  r="40"
                  cx="60"
                  cy="60"
                 />
              </svg>
	      <span class="absolute text-2xl text-brown z-30 pt-3" x-text="{{all_points}}"></span>
            </div>

  	    <!--sentences-box-->
	    <div class="col-span-2 row-span-5 col-start-2 row-start-2 self-center bg-white rounded-[14px] shadow-lg z-10 min-h-full grid grid-cols-12 grid-rows-2 gap-4">

		<!--quote1-->
            	<img class="pt-4 pl-4 self-start align-bottom inline-block col-start-1 row-start-1" src="/static/svg/quote-1.svg" alt="quote1">
		
		<!--sentences-->
		<div id= "sen" class="pt-12 pb-12 text-[1.5rem] col-span-10 row-span-2 col-start-2 row-start-1 z-40 grid justify-items-center" hx-get="/api/sentences" hx-swap="innerHTML transition:true" hx-trigger="newBook from:body">
			<p class="block text-cetner pt-2 pb-2"> {{messages.give_up_page_msg}} </p><br> 
			<p class="block text-center pt-2 pb-2 text-4xl font-extrabold"> {{title}} </p> <br>
			<p class="block text-center pt-2 pb-2"> {{author}} </p>
		</div>

		<!--quote2-->
            	<img class="pb-4 pr-4 self-end align-top col-start-12 row-start-2" src="/static/svg/quote-2.svg" alt="quote2">
	    </div>

        </div>

	<!--user input grid-->
	<div class="w-full grid grid-cols-4 grid-rows-1 gap-4 pt-10 pb-24 overflow-hidden">

		<!--form-->
        	<form class="col-span-2 col-start-2 self-center bg-white rounded-[14px] shadow-lg z-10 min-h-full" id="frm" hx-post="/api/check-book" hx-target="#main" hx-swap="innerHTML">
			<p class="w-full h-[2em] text-[1.5rem] outline-none pl-5 pt-2 bg-white rounded-[14px] z-10" id="field" type="text" name="title" ></p>
		</form>

		<!--next_book button-->
        	<div class="col-start-4 -ml-28 transition-transform transform hover:translate-x-20 duration-500 z-0 hover:cursor-pointer" id="button1" type="button"  hx-get="/api/index?next=true" hx-swap="outerHTML transition:true" hx-target="#main" hx-trigger="click, keydown[keyCode==13] from:body"> 
        	    <img class="button_image" src="/static/svg/next-button.svg" height="50" alt="submit"> 
		    <span class="absolute text-white px-8 py-0 top-1/4 -ml-1">{{messages.next_button_msg}}</span>
        	</div>
	</div>
